<ng-container *ngIf="(auth.isAuthenticated$ | async);">
    <app-create-review (newReview)="newReview($event)">
    </app-create-review>
    <div class="homePage" *ngFor="let item of (reviews$ | async); let i = index">
        <app-review-card [review]="item"></app-review-card>
    </div>

    <div infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

    <app-spinner [shows]="showSpinner" [isSmallSize]="true"></app-spinner>


    <div class="notification is-warning" *ngIf="(reviews$ | async).length == 0">
        No hay reseñas
    </div>
</ng-container>
<ng-template #loading>
    <app-spinner [shows]="true" [isSmallSize]="true"></app-spinner>
</ng-template>