.notification{
    &.is-warning{
        color:whitesmoke;
        text-align: center;
    }
}
.success-snackbar{
    background: #1add6b;
    opacity: 40%;
}

.fail-snackbar{
    background: #f32121;
    opacity: 40%;
}