<div>
  <ul>
    <li><a href="https://github.com/MaarLop/review-it-documentation" target="_blank">Documentation</a></li>
    <li><a href="https://github.com/martinCastello/review-it-backend" target="_blank">Backend</a></li>
    <li><a href="https://github.com/MaarLop/review-it-frontend" target="_blank">Frontend</a></li>
    <li><a href="https://trello.com/b/bqtHVrxv/ttip-grupo09-reviewit" target="_blank">Trello</a></li>
    <li><a href="mailto:martincastello@gmail.com?subject=[Help]%20ReviewIt!&cc=s.mariel.lopez1995@gmail.com" target="_blank">Contact Email</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>