<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="container justify-content-center mt-3 border-left border-right">
                <button type="button" class="close" (click)="close()">&times;</button>
                <form [formGroup]="formNewComment">
                    <div class="d-flex justify-content-center pt-3 pb-2"> <input (keyup.enter)="onEnter()" type="text" [formControlName]="'message'" [name]="'message'" placeholder="Deja tu comentario" class="form-control addtxt"> </div>
                </form>
                <div class="modal-body">
                    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="100" (scrolled)="onScroll()" [scrollWindow]="false" class="search-results">
                        <div class="commentList" *ngFor="let item of (comments$ | async); let i = index">
                            <app-comment [comment]="item"></app-comment>
                        </div>

                        <app-spinner [shows]="showSpinner" [isSmallSize]="true"></app-spinner>

                        <div class="notification is-warning" *ngIf="(comments$ | async).length == 0">
                            No hay comentarios
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>