<div translate="no" class="animate__animated animate__lightSpeedInRight">
    <div class="plx-card gold">
        <div class="pxc-bg" style="background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-texture-geometric-black-metal-gradient-image_17809.jpg')"> </div>
        <div class="pxc-avatar" placement="top" ngbTooltip="{{review?.user?.userName}}" container="body">
            <img src="{{review?.user?.image? review.user.image : review?.user?.avatar }}" fallimg="profile"></div>
        <div class="pxc-stopper"> </div>
        <div class="pxc-subcard">
            <div class="pxc-title">{{review.title}}</div>
            <div class="pxc-sub">
                {{review.genres}}
            </div>
            <div class="pxc-sub">
                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="true"></ngb-rating>
            </div>
            <div class="pxc-feats">
                {{review.description}}
            </div>
            <div class="pxc-tags">
                <div *ngFor="let item of review.hashtags">{{item}}</div>
            </div>
        </div>
        <div class="bottom-row">
            <div class="pxc-info">
                <div class="row">
                    <details id="blob-more-options-details" data-view-component="true" class="details-overlay details-reset position-relative">
                        <summary role="button" data-view-component="true" class="btn post-actions">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.0em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 13 16"><g transform="translate(13 0) scale(-1 1)"><path fill-rule="evenodd" d="M1.5 9a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3zm5 0a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3zM13 7.5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0z" fill="#17a2b8"/></g></svg>
                        </summary>
                        <div data-view-component="true">
                            <ul class="dropdown-menu dropdown-menu-sw">
                                <li data-toggle-for="blob-more-options-details">
                                    <button (click)="comments()" class="btn-link dropdown-item"><fa-icon [icon]="comment"></fa-icon>
                                        <span> Comentarios</span>
                                    </button>
                                </li>
                                <li data-toggle-for="blob-more-options-details">
                                    <button *ngIf="!isOwner" (click)="denounce()" class="btn-link dropdown-item"><fa-icon [icon]="faBan" aria-hidden="true"></fa-icon> 
                                        <span> Denunciar</span>
                                    </button>
                                </li>
                                <li data-toggle-for="blob-more-options-details">
                                    <button *ngIf="isOwner" (click)="edit()" class="btn-link dropdown-item"><fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> 
                                        <span> Editar</span>
                                    </button>
                                </li>
                                <li data-toggle-for="blob-more-options-details">
                                    <button *ngIf="isOwner" (click)="remove()" class="btn-link dropdown-item"><fa-icon [icon]="trash" aria-hidden="true"></fa-icon>
                                        <span> Eliminar</span>
                                    </button>
                                </li>
                                <li data-toggle-for="blob-more-options-details">
                                    <button (click)="moreDetails()" class="btn-link dropdown-item"><fa-icon [icon]="faInfo" aria-hidden="true"></fa-icon>
                                        <span> Info</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </details>
                    <div>
                        <span class="thumbup"><button (click)="likear()" class="thumbupo likes"><fa-icon [icon]="thumbs" aria-hidden="true"></fa-icon></button></span>
                        <span class="text4 text4i">{{likeCount}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
</div>