  <div translate="no">
    <div class="plx-card gold">
    <div class="pxc-bg" style="background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-texture-geometric-black-metal-gradient-image_17809.jpg')">  </div>
    <div class="pxc-avatar"><img src="https://i.pinimg.com/originals/fe/da/68/feda683b53df7de5e9b053c9ea477ea5.jpg"></div>
    <div class="pxc-stopper">   </div>
    <div class="pxc-subcard">
      <div class="pxc-title">{{review.title}}</div>
      <div class="pxc-sub"> {{review.points}} </div>
      <div class="pxc-feats">
        {{review.body}}
      </div>
      <div class="pxc-tags">
        <div  *ngFor="let item of review.hashtags" >{{item}}</div>
      </div>
    </div>
    <div class="bottom-row"> 
      <div class="pxc-info">
        5 M Gusta
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
</div>