<!--<form *ngIf="auth.user$ | async as user" [formGroup]="formUser">
    <div class="widget-post" aria-labelledby="post-header-title">
        <div class="widget-post__header">
            <app-input [group]="formUser" [key]="'name'" [inputType]="'text'" [label]="'Nombre'">
            </app-input>
            {{ user.name }}
        </div>
        <div id="widget-form" class="widget-post__form" name="form" aria-label="post widget">
            <div class="widget-post__content">
                <app-text-area [group]="formUser" [key]="'email'" [label]="'Correo electrónico'">
                </app-text-area>
                {{ user.email }}
            </div>
            <div class="widget-post__options is--hidden" id="stock-options">
            </div>
        </div>
    </div>
</form>-->
<div *ngIf="auth.user$ | async as user" translate="no" class="animate__animated animate__lightSpeedInRight">
    <div class="plx-card gold">
        <div class="pxc-bg" style="background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-texture-geometric-black-metal-gradient-image_17809.jpg')"> </div>
        <div class="pxc-avatar"><img src="{{user.picture}}"></div>
        <div class="pxc-stopper"> </div>
        <div class="pxc-subcard">
            <div class="pxc-title">{{user.name}}</div>
            <div class="pxc-feats">Nombre de usuario: {{user.nickname}}</div>
            <div class="pxc-feats">Correo electrónico: {{user.email}}</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
</div>