$break-small: 700px;
$break-medium: 1500px;
.homeButton,
.navbar {
    background-color: rgb(9, 11, 23);
    text-align: center;
    justify-content: center;
}

.homeButton {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}



.scroll-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
  
}

.button-top {
	cursor: pointer;
	position: relative;
	padding: 0.5rem 1.5rem;
    bottom: 10px;
    right: 23px;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #39394d 0%, #2c2c50 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.button-top i {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.button-top::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.button-top::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

#btn {
	background: #222;
	height: 35px;
	min-width: 80px;
	border: none;
	border-radius: 10px;
	color: #eee;
	font-size: 40px;
	font-family: 'Cookie', cursive;
	position: relative;
	transition: 1s;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding-top: 5px;
  }
  
  #btn #circle {
	width: 5px;
	height: 5px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	transition: 500ms;
  }
  
  .noselect {
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
  }
  
  #btn:hover {
	background: rgb(88, 149, 82);
  }
  
  #btn:hover #circle {
	height: 35px;
	min-width: 80px;
	left: 0;
	border-radius: 0;
	border-bottom: 2px solid #eee;
  }