$break-small: 700px;
$break-medium: 1500px;
.homeButton,
.navbar {
    background-color: rgb(9, 11, 23);
    text-align: center;
    justify-content: center;
}

.homeButton {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}