.text-area {
  width: 100%;
  &-form {
    overflow: hidden;
  }
  ::ng-deep{
    .mat-form-field-appearance-legacy, .mat-form-field-underline {
      height: 0px !important;
      outline:none;
    }
  }
}
textarea:focus {
  outline: none !important;
  border-color: #39394d;
}

.widget-post__textarea {
  width: 100%;
  height: 100%;
  padding: .5em;
  background-color:#39394d;

  border: none;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
}

.widget-post__options {
  padding: .5em;
  
}
.widget-post___input {
  display: inline-block;

  width: 30%;
  padding: .2em .5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
  
}

.widget-post__actions {
  width: 100%;
  padding: .5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}
