<mat-form-field [formGroup]="group" class="text-area">
  <textarea
    matInput
    name="post"
    id="post-content"
    class="widget-post__textarea scroller"
    [formControlName]="key"
    [placeholder]="label"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="15"
    appearance="none"
  ></textarea>
  <ng-container *ngFor="let error of errorList" ngProjectAs="mat-error">
    <mat-error> {{ error.message }}</mat-error>
  </ng-container>
</mat-form-field>
