<h1 mat-dialog-title>{{title}} <button mat-button mat-dialog-close>Cerrar</button></h1>
<div mat-dialog-content>
    <main class="leaderboard__profiles" *ngFor="let user of data">
        <article class="leaderboard__profile">
            <img src="{{user?.image? user.image : user?.avatar}}" fallimg="profile" class="leaderboard__picture">
            <span class="leaderboard__name">{{user.name}}</span>
            <span class="leaderboard__value">7</span>
        </article>
    </main>
</div>
<div mat-dialog-actions>

</div>