$break-small: 700px;
.notification{
    &.is-warning{
        color:whitesmoke;
        text-align: center;
    }
}
.success-snackbar{
    background: #1add6b;
    opacity: 40%;
}

.fail-snackbar{
    background: #f32121;
    opacity: 40%;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.show-scrollTop {
opacity: 1;
transition: all .2s ease-in-out;
}
 .container {
    margin: 16px 100px;
    color: #fff;
    @media screen and (max-width: 1000px) and (min-width: $break-small){
        left: 120px;
        margin: 21px 10px 0px 16px;
        padding:15px 4px 15px 5px;
      }
      @media screen and (max-width: $break-small) {
        height: auto;
        padding: 15px;
        margin: 17px ;
        flex: 0 1 auto;
      }
    .no-gutters{
        box-shadow: 0 0 10px rgb(82, 82, 82);
        border-radius: 5%;
    }
 }

 select,
 input,
 button
 {
    background-color: #fff;
    height: calc(1.5em + 0.75rem + 12px);
 }
 .searchButton{
        width: 0%;
        text-align: right;
        color: #fff;
    }

////////////////////////////////////////////////

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   }

   .no-gutters{
    margin: 14px 50px 6px 90px;
   }
   
   @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
   @import url('https://fonts.googleapis.com/css?family=Roboto:100');
   
   @mixin button($bcolor,
   $url,
   $x1,
   $y1,
   $bor,
   $col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    border: $bor;
    color: $col;
   }
   
   .button-container {
    position: relative;
    width: 94px;
    height: 48px;
    background-color: #39394d;
    border-radius: 8px;
    color: #fff;
    float: right;
    margin-right: 71px;
    button {
        border-radius: 8px;
        float: right;
        width: 101%;
        height: 100%;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: bold;
        
   
      
    }
   }
   
   
   


::ng-deep.mat-input-element {
    color: #fff !important;
}
::ng-deep.mat-select-value{
    color: #fff !important;
}

::ng-deep.mat-select-arrow{
    color: #fff !important;
}

::ng-deep.mat-form-field-label, .mat-form-field-empty, .mat-form-field-label{
    color: white !important;
}