
<div class="row">
    <div class="col-lg-12 card-margin">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-2 col-sm-12">
                <app-select
                  [group]="formGroup"
                  [key]="'option'"
                  [options$]="options$"
                  [defaultValue] ="defaultValue"
                >
                </app-select>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12">
                 <app-input
                    [group]="formGroup"
                    [key]="'filter'"
                    [inputType]="'text'"
                    [label]="'Filtrar'">
                </app-input>
            </div>
            <div class="col-md-2 button-container" >
                <a  class="col-md-1 col-md-offset-1"(click)="goSearch()">
                    <span class="mas" style="color:#fff">Buscar</span>
                    <button id='work'type="button" name="Hover" > <i class="fa fa-search"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>

<app-review-list [filter$]="filter$"></app-review-list>
