$break-small: 700px;

*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}
body.push {
	left:250px;
  }

nav {
  	float: left;
	position: sticky;
	top: 0;
  	left: 0;
	background: transparent;
	margin-top: 6px;
	padding-top: 10px;
	z-index: 1;
	.profile{
		font: 350 20px/20px Roboto, "Helvetica Neue", sans-serif;
		text-shadow: 4px 5px rgb(41, 39, 39);
	}
	fa-icon{
		text-shadow: 40px 5px rgb(41, 39, 39);
	}
	button{
		color:#fff
	}
	@media screen and (max-width: 1000px) and (min-width: $break-small){
        left: 120px;
        margin: 21px 10px 0px 16px;
        padding:15px 4px 15px 5px;
      }
      @media screen and (max-width: $break-small) {
        height: auto;
        flex: 0 1 auto;
		margin-right: 20px;
      }
}

nav ul {
	text-align: center;
	box-shadow:  0 0 10px rgb(82, 82, 82);
}

nav ul li {
	position: relative;
	color: #fff;
	width: 70px;
	cursor: pointer;
  	background-color:#39394d;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

nav ul li:after {
	position: absolute;
	background: #23232f;
	color: #fff;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
	opacity:.5;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Perfil";
   line-height: 88px;
}

nav ul li:nth-child(2):after { 
	content: "Inicio";
	line-height: 88px;
}

nav ul li:nth-child(3):after { 
	content: "Buscar";
	line-height: 88px;
}

nav ul li:nth-child(4):after { 
	content: "Agregar";
	line-height: 88px;
}

nav ul li:nth-child(5):after { 
	content: "Chat";
	line-height: 88px;
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}