<nav>
    <ul *ngIf="auth.isAuthenticated$ | async;">
        <li (click)="goProfile()">
            <div class="profile">
                <i class="fa fa-child"></i>
            </div>
        </li>
        <li (click)="goHome()">
            <div class="profile">
                <i class="fa fa-home fa-fw"></i>
            </div>
        </li>
        <li (click)="goSearch()">
            <div class="profile">
                <i class="fa fa-search"></i>
            </div>
        </li>
        <li (click)="goToSearchUser()">
            <div class="profile">
                <i class="fas fa-user-plus"></i>
            </div>
        </li>
    </ul>
</nav>