<form [formGroup]="formUser">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container ">
                    <div class="d-flex justify-content-center pt-3 pb-2">
                        <div class="col-md-12">
                            <label for="form_name">Nombre</label>
                            <input type="text" [formControlName]="'name'" [name]="'name'" placeholder="Nombre" class="form-control addtxt">
                            <label for="form_name">Avatar</label>
                            <input type="text" [formControlName]="'avatar'" [name]="'avatar'" placeholder="Avatar" class="form-control addtxt">
                            <label for="form_name">Username</label>
                            <input type="text" [formControlName]="'userName'" [name]="'nuserNameame'" placeholder="Username" class="form-control addtxt">
                        </div>
                    </div>
                    <button class="btn post-actions__publish" (click)="update()" data-testid="updateUser">Actualizar</button>
                    <button class="btn cancel-actions" (click)="close()" data-testid="updateUser">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>