.post-actions__publish,
.cancel-actions {
    width: 100%;
    color: #fff;
    border-radius: 1.5em;
    margin-top: 15px;
}

.post-actions__publish {
    background-color: #008391;
}

.cancel-actions {
    background-color: rgb(109, 109, 109);
}

.modal {
    display: block !important;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-content {
    position: relative;
    display: inline-table;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #39394d;
    border-radius: 1.3rem;
    padding: 10px;
}

label {
    color: #fff;
    margin-top: 10px;
}

.avatar-pic {
    width: 150px;
}

.checkbox{
    size: 3rem;
    text-align: center;
    margin: 10px;
}