<form [formGroup]="formUser">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container ">
                    <div class="d-flex justify-content-center pt-3 pb-2">
                        <div class="col-md-12">
                            <label for="form_name">Nombre</label>
                            <input type="text" [formControlName]="'name'" [name]="'name'" placeholder="Nombre" class="form-control addtxt">
                            <label for="form_name">Apellido</label>
                            <input type="text" [formControlName]="'lastName'" [name]="'lastName'" placeholder="Apellido" class="form-control addtxt">
                            <label for="form_name">Correo electronico</label>
                            <input type="text" [formControlName]="'email'" [name]="'email'" placeholder="Correo electronico" class="form-control addtxt">
                            <label for="form_name">Foto de Perfil</label>
                            <div class="file-field">
                                <div class="mb-4">
                                    <img src="{{image}}" fallimg="editProfile" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                                </div>
                                <div class="btn btn-primary btn-sm float-center">
                                    <input type="file" name="file" class="file-input" (change)="onFileChanged($event)" #fileInput>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn post-actions__publish" (click)="update()" data-testid="updateUser">Actualizar</button>
                    <button class="btn cancel-actions" (click)="close()" data-testid="updateUser">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>