.post-actions__publish {
    width: 120px;
    background-color: #008391;
    color: #fff;
    border-radius: 1.5em;
}

.modal {
    display: block !important;
}

.modal-dialog {
    overflow-y: initial !important
}